# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset: https://www.kaggle.com/datasets/rtatman/lego-database/data


Import the necessary libraries and create your dataframe(s).

In [60]:
import pandas as pd

# read the files into dataframes
colors_df=pd.read_csv("C:\\LaunchCode\\eda-checkpoint2\\colors.csv")
inventories_df=pd.read_csv("C:\\LaunchCode\\eda-checkpoint2\\inventories.csv")
inv_parts_df=pd.read_csv("C:\\LaunchCode\\eda-checkpoint2\\inventory_parts.csv")
# inv_sets_df=pd.read_csv("C:\\LaunchCode\\eda-checkpoint2\\inventory_sets.csv")
parts_cat_df=pd.read_csv("C:\\LaunchCode\\eda-checkpoint2\\part_categories.csv")
parts_df=pd.read_csv("C:\\LaunchCode\\eda-checkpoint2\\parts.csv")
sets_df=pd.read_csv("C:\\LaunchCode\\eda-checkpoint2\\sets.csv")
themes_df=pd.read_csv('C:\\LaunchCode\\eda-checkpoint2\\themes.csv')

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [16]:
colors_df.isnull().sum() #no missing data found
inventories_df.isnull().sum() # no missing data found
inv_parts_df.isnull().sum() # no missing data found
parts_df.isnull().sum() # no missing data found
parts_cat_df.isnull().sum() # no missing data found
sets_df.isnull().sum() # no missing data found
themes_df.isnull().sum() # parent_id contains missing nulls. these are the top themes in the hierachy so nulls are expected

id         0
version    0
set_num    0
dtype: int64

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [57]:
# During EDA, I noticed some sets had a negative num parts. I want to determine if this is valid.
# There are 3 sets with -1 num_parts. 
# The first is a wooden storage box which we can ignore since it is not a lego set. 
# Next set is actually a Duplo package of 3 sets. We can ignore since we're looking at Lego, not Duplo.
# Lastly, the set is an exclusive to a Lego Store opening. I am choosing to ignore this item as well because it is a limited store item and not available at large.
# I removed the sets with -1 part nums. There was no corresponding inventory parts records so the records were not providing data useful for analysis
display(sets_df['num_parts'].unique().min())
missing_df=sets_df[sets_df['num_parts']==-1]
display(missing_df)
missing_df=sets_df[sets_df['num_parts'] ==-1]
display(missing_df)

# no records found in inventory parts data
missing_df=inv_parts_df[inv_parts_df['inventory_id'] == 11933 ] #in (2025,2474, 11933)]

# drop the -1 rows
i=sets_df[sets_df['num_parts']==-1].index
sets_df.drop(i,inplace=True)

missing_df=sets_df[sets_df['num_parts'] ==0]
display(missing_df)

# these are the inventory ids of the sets with -1 num parts
missing_df=inv_parts_df[inv_parts_df['inventory_id'] == 2025 ] #in (2025,2474, 11933)]
display(missing_df)

np.int64(0)

Empty DataFrame
Columns: [set_num, name, year, theme_id, num_parts]
Index: []

,set_num,name,year,theme_id,num_parts
353,10623-1,Basic Bricks â€“ Large,2015,505,0
355,1064-1,Dacta Buildings,1981,533,0
613,11995-1,Hero Recon Team,2011,400,0
900,14-3,Small house set,1973,433,0
1367,200-2,Building Ideas Book,1985,501,0
...,...,...,...,...,...
11575,PS3038-1,LEGO Star Wars: The Complete Saga,2007,501,0
11612,SWDVDBD-1,The Padawan Menace,2011,501,0
11655,VP-17,Legoland Town Special Offer,1985,67,0
11665,W098-1,"Watch Set, Classic Blue",2006,501,0
11666,W991526-1,Homeschool Introduction to Simple and Motorize...,2009,529,0

array([   69,   122,   164,   165,   170,   253,   275,   285,   398,
         415,   429,   515,   534,   629,   631,   696,   699,   793,
         819,   830,   919,   943,  1014,  1061,  1065,  1069,  1092,
        1135,  1139,  1190,  1201,  1205,  1317,  1352,  1401,  1418,
        1443,  1459,  1507,  1615,  1643,  1732,  1781,  1815,  1851,
        1878,  1892,  1959,  1967,  2006,  2014,  2054,  2063,  2186,
        2235,  2269,  2270,  2298,  2303,  2446,  2482,  2503,  2541,
        2560,  2616,  2677,  2720,  2767,  2835,  2858,  2907,  2930,
        2951,  2974,  3053,  3065,  3085,  3108,  3109,  3125,  3221,
        3294,  3313,  3349,  3419,  3441,  3475,  3513,  3545,  3570,
        3611,  3674,  3694,  3703,  3748,  3764,  3791,  3867,  3875,
        3880,  3906,  3907,  3959,  3983,  4032,  4036,  4037,  4064,
        4071,  4096,  4166,  4171,  4182,  4187,  4245,  4261,  4312,
        4373,  4397,  4429,  4430,  4528,  4655,  4783,  4807,  4875,
        4878,  4969,  5110,  5123,  5131,  5195,  5197,  5223,  5257,
        5305,  5348,  5388,  5447,  5456,  5460,  5487,  5491,  5508,
        5518,  5524,  5541,  5573,  5590,  5647,  5725,  5736,  5815,
        5847,  5857,  5915,  5944,  5979,  6021,  6079,  6128,  6179,
        6205,  6217,  6248,  6282,  6384,  6386,  6443,  6469,  6487,
        6532,  6556,  6626,  6637,  6691,  6714,  6734,  6756,  6789,
        6822,  6842,  6849,  6977,  7008,  7025,  7127,  7146,  7148,
        7151,  7185,  7191,  7230,  7233,  7278,  7281,  7329,  7367,
        7368,  7384,  7385,  7390,  7400,  7481,  7483,  7487,  7516,
        7532,  7565,  7596,  7614,  7651,  7674,  7733,  7775,  7815,
        7816,  7834,  7837,  7890,  7912,  8000,  8088,  8102,  8124,
        8130,  8176,  8230,  8287,  8303,  8334,  8338,  8446,  8466,
        8537,  8554,  8558,  8563,  8567,  8580,  8608,  8612,  8617,
        8678,  8684,  8762,  8771,  8781,  8812,  8814,  8837,  8859,
        8875,  8888,  8895,  8944,  8968,  8979,  8995,  9000,  9154,
        9178,  9186,  9199,  9352,  9411,  9472,  9564,  9602,  9624,
        9632,  9643,  9695,  9701,  9728,  9737,  9777,  9785,  9801,
        9807,  9833,  9991, 10013, 10028, 10043, 10091, 10124, 10212,
       10223, 10225, 10252, 10457, 10496, 10511, 10539, 10542, 10572,
       10575, 10620, 10678, 10760, 10781, 10829, 10830, 10834, 10884,
       10888, 10895, 10900, 10944, 10952, 10962, 10972, 11017, 11083,
       11219, 11237, 11255, 11282, 11309, 11315, 11321, 11325, 11330,
       11384, 11388, 11457, 11469, 11522, 11527, 11537, 11565, 11666,
       11677, 11686, 11701, 11810, 11821, 11841, 11861, 11886, 11932,
       11955, 11991, 12044, 12050, 12129, 12138, 12185, 12198, 12216,
       12478, 12494, 12520, 12542, 12559, 12571, 12624, 12637, 12700,
       12727, 12789, 12927, 12985, 12987, 12997, 13026, 13032, 13084,
       13132, 13134, 13145, 13148, 13152, 13153, 13159, 13161, 13164,
       13188, 13200, 13224, 13233, 13262, 13305, 13326, 13334, 13355,
       13366, 13381, 13398, 13485, 13503, 13521, 13681, 13683, 13696,
       13707, 13722, 13770, 13814, 13860, 13917, 13921, 13927, 13948,
       14044, 14099, 14157, 14164, 14247, 14250, 14255, 14321, 14326,
       14417, 14442, 14462, 14508, 14511, 14556, 14642, 14663, 14752,
       14755, 14851, 14869, 14893, 14941, 14942, 14951, 14959, 14966,
       14974, 14979, 14993, 15061, 15149, 15166, 15192, 15393, 15484,
       15500, 15548, 15568, 15573, 15694, 15726, 15730, 15753, 15754,
       15831, 15844, 15913, 15943, 15980, 16057, 16096, 16099, 16226,
       16232, 16324, 16417, 16423, 16460, 16593, 16594, 16969, 17297,
       17992, 18165, 18701])

Empty DataFrame
Columns: [inventory_id, part_num, color_id, quantity, is_spare]
Index: []

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [85]:
# rgb will not be used in data analysis
colors_df.info()
# drop the rgb column from colors
colors_df.drop(inplace=True, columns='rgb',axis=1)
colors_df.info() #verify column deleted

# # check is_spare in inv_parts
display(inv_parts_df['is_spare'].unique())
display(inv_parts_df[inv_parts_df['is_spare']=='t'])


# # data analysis will not need the spare parts as primary pieces will be used for analysis
i=inv_parts_df[inv_parts_df['is_spare']=='t'].index
display(len(i)) #verify the spare parts count
# drop the spare parts
inv_parts_df.drop(i,inplace=True)
# drop the is_spare column
inv_parts_df.drop(columns="is_spare", inplace=True, axis=1)
inv_parts_df.info() #confirm column deleted

<class 'pandas.core.frame.DataFrame'>
Index: 134 entries, 0 to 134
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        134 non-null    int64
 1   name      134 non-null    object
 2   is_trans  134 non-null    object
dtypes: int64(1), object(2)
memory usage: 8.3+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 550756 entries, 0 to 580250
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   inventory_id  550756 non-null  int64
 1   part_num      550756 non-null  object
 2   color_id      550756 non-null  int64
 3   quantity      550756 non-null  int64
dtypes: int64(3), object(1)
memory usage: 21.0+ MB

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [90]:
# eda found -1 id numbers, planning to leave these as they are "unknown" color
missing_df=inv_parts_df[inv_parts_df['color_id']==-1]
display(missing_df)

missing_df=parts_df[parts_df['part_num']=='11305']
display(missing_df)

        inventory_id      part_num  color_id  quantity
2625              80     belvfair6        -1         1
2626              80     belvfem26        -1         1
2627              80    belvmale13        -1         1
7832             214         fab6e        -1         1
9330             250     belvfair4        -1         1
...              ...           ...       ...       ...
570439         17425         11305        -1         2
570461         17425         25276        -1         1
570466         17425         28587        -1         1
570947         17677  18394pat0001        -1         2
576853         18440         27328        -1         2

[126 rows x 4 columns]

    part_num                                         name  part_cat_id
446    11305  Hero Factory Weapon - Blade with Curved Tip           41

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset? I did find all four types.
2. Did the process of cleaning your data give you new insights into your dataset? The data is fairly straightforward and clean.
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations? When using the data, the joins will be important to display the necessary supporting data.

In [91]:
sets_df.to_csv("sets_clean.csv")
inv_parts_df.to_csv("inv_parts_clean.csv")
colors_df.to_csv("colors_clean.csv")